body
{
	font-family: trebuchet ms, verdana, arial, tahoma;
	font-size: 80%;
	color: #385021;
	background-color: #FFF;
	line-height: 200%;
	margin-top: 25px;
}

img
{
	border: 0px;
}

a:active, a:visited, a:link
{
	color: #69953E;
	text-decoration: none;
}

a:hover
{
	color: #000;
	text-decoration: none;
}

#container
{
	width: 1040px;
	height: 550px;
	border:1px solid #405924;
	margin: 0px auto;
	background: #A6CA7D;
}

#container2
{
	width: 1020px;
	height: 550px;
	border:1px solid #405924;
	margin: 5px auto;
	background: #FFF;
}

#left
{
	float: left;
	width: 164px;
	height: 500px;
}

#leftbottom
{
	width: 164px;
	height: 270px;
	font-family: arial;
	font-size: 12pt;
}

#lefttop
{
	width: 164px;
	height: 230px;
}

#right
{
	float: left;
	width: 550px;
	height: 550px;
	border-left: 1px solid #A6CA7D;
}

#container3
{
	float: right;
	width: 300px;
	height: 500px;
	background: #FFF;
	border-left: 1px solid #A6CA7D;
}

.overflow
{
	float: right;
	overflow: auto;
	width: 544px;
	height: 530px; 
}

#textpadding
{
	padding: 10px;
  text-align: justify
}

#footer
{
	width: 760px;
	margin: 0px auto;
	padding: 5px;
	text-align: left;
	color: #385021;
}
